<html>
    <head>
        {% include 'components/bootstrap.html' %}
    </head>
    <body style="background: url('static/background.png');">
        {% include 'components/navbar.html' %}
        <br />
        <center>
            <div class="card d-flex justify-content-center align-items-center" style="width: 50rem; height: max-content; background-color:white;">
                <h1>Cart</h1>
                <table class="table" style="width:50%;">
                    <thead>
                        <tr>
                        <th scope="col">Menu Item</th>
                        <th scope="col">Price</th>
                        </tr>
                    </thead>
                    {%for item in cart.getItems()%}
                        <tr>
                            <td>{{ menu[item].getItemName() }}</td>
                            <td>{{ menu[item].getPrice() }}</td>
                        </tr>
                    {%endfor%}
                </table>
                
                <h4>${{ totalcost }}</h4>
               

                <a class="btn btn-primary" href="/checkout" style="background-color:rgb(124, 107, 41); border:0px;">Order</a>
                <br />
            </div>
        </center>
    </body>
</html>