<html>
    <head>
        {% include 'components/bootstrap.html' %}
    </head>
    <body style="background: url('static/background.png')">
        {% include 'components/navbar.html' %}
        <br />
        <center><h1 style="font-family:brush script mt; font-weight:bolder; font-size:xxx-large;">Serving Fresh Pizza since 1912</h1>
            <img src="static/pic1.png" style="width:70%; height:500px; border-radius: 5px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" />
        
            <br /><br />
        <p style="width:70%; text-align:left;">Born in 1885, in Florence Italy, our grandfather, Lorem Ipsum Dolor II, at the age of 12 was studying Engineering at the
            L'Università degli Studi di Firenze. While studying, he worked in kitchens to help pay for his studies. He ended up dropping out 2 years into
            University after his mother passed away from a sudden illness. He left home to Rome, Italy, and worked under a Sous Chef for 2 years until 1899 where he left to NYC
            to search for better opportunities.
            <br /> <br />
            When he arrived in NYC, he could not find any work and decided to travel throughout the United States in search of opportunity. He ended up finding a job in Denver, CO in search 
            for work in construction and worked in construction from 1900-1911. He met our grandmother in 1908 and he got married in 1909. In 1911, he suffered a terrible injury that left him unable to walk. Despite this, he would get up early in the morning
            and him and our grandmother were selling food on the street corners. Having had worked at a restaurant, he began making pizzas and soon began to grow in popularity.
            He was able to save up money and in 1912, he opened up Fake's Pizza in Denver, CO. And generation to generation, we've been
            serving the finest pizza here in Denver, CO.
      </p>
        
        <br />
        
        {% include 'components/footer.html' %}
    </body>
</html>