<div id="" style="width:50%; background-color:white;">
    <h2>Let's process that order!</h2>
    <form action="/processOrder" method="GET">
        <div class="mb-3">
            <label class="form-label">First Name: </label>
            <input type="text" class="form-control" name="first_name" placeholder="">
        </div>
        <div class="mb-3">
            <label class="form-label">Last Name: </label>
            <input type="text" class="form-control" name="last_name"  placeholder="">
        </div>
        <div class="mb-3">
            <label class="form-label">Address: </label>
            <input type="text" class="form-control" name="address"  placeholder="123 N. 1st. St, City, State, Zip">
        </div>
        <div class="mb-3">
            <label class="form-label">Card No.: </label>
            <input type="text" class="form-control" name="cardno"  placeholder="">
        </div>
        <div class="mb-3">
            <label class="form-label">CVV: </label>
            <input type="text" class="form-control" name="cvv"  placeholder="123">
        </div>
        <div class="mb-3">
            <label class="form-label">Cardholder Name:</label>
            <input type="text" class="form-control" name="cardhold_name"  placeholder="">
        </div>
        <div class="mb-3">
            <label class="form-label">Cardholder ZipCode:</label>
            <input type="text" class="form-control" name="cardhold_zipcode"  placeholder="">
        </div>
        <center><button class="btn btn-primary" style="background-color:rgb(124, 107, 41); border:0px;">Order</button></center>
    </form>
</div>