<nav class="navbar navbar-expand-lg " style="background-color:rgb(144, 167, 76); color:white; border-radius:3px; box-shadow: 0px 12px lightgreen;">
    <div class="container-fluid">
      
      <a class="navbar-brand" href="#" style="font-family: brush script mt; font-weight:lighter;">
        Fake's Pizza
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/" style="color:white;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/menu" style="color:white;">Menu</a>
          </li>
        </ul>

        <a href="/cart">
            <img src="static/cart.svg" stroke="black" fill="black"/>
        </a>
        
      </div>
    </div>
  </nav>